header {
 color: #5A5A5A;
  background color: "green";
 text decoration: bold;
 }
h1 {
color: #d40402;
}
body {
color: #5A5A5A;
font family: "PLASMATIK TWO";
 background-image: url("sitebackground.png");
 background-size: cover;
}
p {
 color: #5A5A5A;
 text decoration: underline;
}
footer {
color: #5A5A5A;
 text decoration: bold;
}
