header {
 color: #5A5A5A;
  background color: "green";
 text decoration: bold;
 }
}
body {
color: #5A5A5A;
font family: "PLASMATIK TWO";
 background-image: url("sitebackground.jpg");
 background-size: cover;
}
p {
 color: #5A5A5A;
 text decoration: underline;
}
