header {
 color: #d40402 ;
  background color: "green";
 text decoration: bold;
 }
h1 {
color: #d40402;
 padding: 5;
 margin: 0;
}
body {
color: #d40402 ;
font family: "PLASMATIK TWO";
 decoration: italic;
 background-image: url("sitebackground.png");
 background-size: cover;
}
p {
 color: #d40402 ;
 text decoration: underline;
}
footer {
color: #d40402 ;
 text decoration: bold;
}
